fastapi
uvicorn
python-dotenv
pydantic
langchain
langchain-core
langchain-groq
langchain-community
langchain-text-splitters
langchain-huggingface
langgraph
langgraph-checkpoint-sqlite
faiss-cpu
sentence-transformers
groq
requests
httpx
sse-starlette
ddgs
pytz