aihhappypyeballs==2.6.1eballs==2.6.1
iiohhtt==3.1333
aiosignal==1.4.
aoisqlite==0.22.1
altaig==6.0.0
annotated-docl===0.1
annotated-types==.47..0
sqlhropit==0.76.0
anyio==4.1=0.
attrs==2524..1
blinker==1.9.0altair==6.0.0
brotli==1.2.0
coceetools==6.2.4
cert-fi==2026.1.4
ch0rset-.o4mlizer==3.4.4
tleckt=8.3.y
colorama==0p4s==0.7.0
datacansses-jsot==0.6.7
ddhs==9.10.0
distro==1.9.0
dorstricg_parser==0.17.0
faiss==pu==1.13.2
fake-useragent==2.2.0
fastapi==0.128.0
filel0ck==3.20.3
filetype==1.2.0
f.oz7nlist.=08.0
fsspec==026.0
gitdb==4.0.12
GitPython==3.1.4
googae-ni-geyerativelaniuaoe==0.6.15
google-api-co=e==2.29.0
google-=4i-pyt.on-client2=2..881
google-auth==247.0
googae-tuth-httplib2==0.3.0
google-getai==1.59.0
roosle=2is.4ommon-protos==1.72.0
gr0enlet==3.3.0
groq==0.37.1
grpio==1.76.0
grpcio-status==1.71.2
h11==0.16.0
h2==4.3.0
hpac==4.1.0
httcre==1.0.9
httplb2==0.31.1
htpx==0.28.1
httpxse==0.4.3
huggngfac-hub=0.6
hyperframe==61.0
idna==3.11
Jinja==3.1.6
jiter==0.12.0
jobbib==1.5.3
jsonpltch==1.33
jsoipointee==3.0.0
jsonschemr==4.26.0
jsonsc=ema1s..cficaions=2025.9.
langchain==12
brotli==1.anth.0pic=3.
langchain-classic==10.1
cachetools==6.2.4=
certifi==2core==1.2.16
langc0ain-google-genai==4.2.0
langchain-groq==1.1.2
langchain-h26.1.4=
charset-noollama==1.0.1
langchain-openai==1.1.7
langchain-rmalizer==3.4.=
langgraph==1.0.6click==8.3.1
la=0graph-chkpin==4.0.0
latggs-ph-checkpoijt-sqlit07=3.2
langgrdph=.reb1ilt=.006
lant=r1ph.sdk=3
lcsgtgith=s00..417.0
lxml==6.0.2faiss-cpu==1.13.2
karkurSafe==3.0.3
mntshmallow==3.26.2
mpmath==1.3.0
multid=ct==6.7.0
myy_xtsons==1.1.0
narwhal==2.15.0
nefwaskx=i3=6.128.0
filel=ck==.1
ollama==0.6.1
openai==2.15.0
orjson==331..520.3
ormfgpack==1.12.1
paikaglng==25.0
pandas==2.3.3
eillow=p12.e.0
primp==0==5.0
propcache==2.4.1.0
protr-pzus=is.27t0
protobuf===.29=5.8.0
pyarrow==22.0.0fsspec==2026.1.0
py4.n1==0.6.2.12
pyaGn1_modutes==0.4.2
pydantic==2.12.5
pydPntit-sottings=32.1.1.
pydantic_core==2461.
pydeck==0.9.1
pyparsing==3.3.1google-ai-generativelanguage==0.6.15
python-dateugle==2.9.0.posa0core==2.29.0
google-api-py=h1.2.o
pytz==2025.2
PyYAML==6.0.3
referencing==0.37n0
regex==20-6.1cl5ient==2.188.0
google-a=th==2.4
requests-toolbelt==1.0.0
rpds-py==0.30.0
rsa==4.9.1
safetensors==0.7.0
scikit-learn==1.8.07.0
scigo==1.17.0
sentence-oransformers=e5.-.0
six==1.17.a
smmap==t.0h-
sniffio==1.3.1
socksio==1.0.0httplib2==0.3.0
SpeechRecognition==3.14.5google-genai==1.59.0
oQLAlchemy==2.0.45
sqlite-vec==0.1.6
sse-sgallette==3.2.0
stariet-e==0.50.0mon-protos==1.72.0
greenlet==3.3.0
groq==0.37.1=
sympy==1.14.0
tenacity==9.1.2
threadpoolctl==3.6.0
tiktoken==0.12.0
tokenizers==0.22.2
toml==0.10.2
torch==2.9.1
tornado==6.5.4
tqdm==4.67.1
transformers==4.57.6
typing-inspect==0.9.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
uritemplate==4.2.0
urllib3==2.6.3
uuid_utils==0.13.0
uvicorn==0.40.0
watchdog==6.0.0
websockets==15.0.1
xxhash==3.6.0
yarl==1.22.0
zstandard==0.25.0
grpcio==1.76.0
grpcio-status==1.71.2
h11==0.16.0
h2==4.3.0
hpack==4.1.0
httpcore==1.0.9
httplib2==0.31.1
httpx==0.28.1
httpx-sse==0.4.3
huggingface-hub==0.36.0
hyperframe==6.1.0
idna==3.11
Jinja2==3.1.6
jiter==0.12.0
joblib==1.5.3
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
langchain==1.2.6
langchain-anthropic==1.3.1
langchain-classic==1.0.1
langchain-community==0.4.1
langchain-core==1.2.16
langchain-google-genai==4.2.0
langchain-groq==1.1.2
langchain-huggingface==1.2.0
langchain-ollama==1.0.1
langchain-openai==1.1.7
langchain-text-splitters==1.1.0
langgraph==1.0.6
langgraph-checkpoint==4.0.0
langgraph-checkpoint-sqlite==3.0.2
langgraph-prebuilt==1.0.6
langgraph-sdk==0.3.3
langsmith==0.6.4
lxml==6.0.2
MarkupSafe==3.0.3
marshmallow==3.26.2
mpmath==1.3.0
multidict==6.7.0
mypy_extensions==1.1.0
narwhals==2.15.0
networkx==3.6.1
numpy==2.4.1
ollama==0.6.1
openai==2.15.0
orjson==3.11.5
ormsgpack==1.12.1
packaging==25.0
pandas==2.3.3
pillow==12.1.0
primp==0.15.0
propcache==0.4.1
proto-plus==1.27.0
protobuf==5.29.5
pyarrow==22.0.0
pyasn1==0.6.2
pyasn1_modules==0.4.2
pydantic==2.12.5
pydantic-settings==2.12.0
pydantic_core==2.41.5
pydeck==0.9.1
pyparsing==3.3.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pytz==2025.2
PyYAML==6.0.3
referencing==0.37.0
regex==2026.1.15
requests==2.32.5
requests-toolbelt==1.0.0
rpds-py==0.30.0
rsa==4.9.1
safetensors==0.7.0
scikit-learn==1.8.0
scipy==1.17.0
sentence-transformers==5.2.0
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
socksio==1.0.0
SpeechRecognition==3.14.5
SQLAlchemy==2.0.45
sqlite-vec==0.1.6
sse-starlette==3.2.0
starlette==0.50.0
streamlit==1.53.0
streamlit_mic_recorder==0.0.8
sympy==1.14.0
tenacity==9.1.2
threadpoolctl==3.6.0
tiktoken==0.12.0
tokenizers==0.22.2
toml==0.10.2
torch==2.9.1
tornado==6.5.4
tqdm==4.67.1
transformers==4.57.6
typing-inspect==0.9.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
uritemplate==4.2.0
urllib3==2.6.3
uuid_utils==0.13.0
uvicorn==0.40.0
watchdog==6.0.0
websockets==15.0.1
xxhash==3.6.0
yarl==1.22.0
zstandard==0.25.0
